@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mr Cooper</h1>
    <h2>JustLend Admin</h2>
    <div class="container">
        <div class="row">
            <div class="col-4 offset-4">
                <a class="btn btn-outline-primary" role="button" asp-controller="Company" asp-action="Index"><h4>Company List</h4></a>
            </div>
            <div class="col-4 offset-4">
                <a class="btn btn-outline-primary" role="button" asp-controller="User" asp-action="Index"><h4>Users</h4></a>
            </div>
            <div class="col-4 offset-4">
                <a class="btn btn-outline-primary" role="button" asp-controller="Vendor" asp-action="Index"><h4>Vendor List</h4></a>
            </div>
        </div>
    </div>
    
</div>

