@model STAR.JustLendAdmin.Web.Models.UserViewModel 
@{
    ViewData["Title"] = "Create";
}

<h1>Add Company</h1>
<hr />
<partial name="StatusMessagePartialView" for="Response" />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <partial name="DetailsPartial.cshtml" for="User" />
    <button type="submit" class="btn btn-primary">Add User</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}