@{
    ViewData["Title"] = "Users";
}

<div>
    <div class="row">
        <label for="companyComboBox" class="col-md-2 col-form-label">Display users for:</label>
        <select class="form-select col-md-6" id="companyComboBox" onclick="loadCompanies()">
            <option value="" disabled>Please select a company</option>
        </select>
        <button class="btn btn-primary" type="button" id="viewUsersButton" onclick="getUsers()">View Users</button>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="activeCheckbox" checked />
        <label for="activeCheckbox" class="form-check-label">Active</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="agentsCheckbox" />
        <label for="agentsCheckbox" class="form-check-label">Agents</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="processorsCheckbox" />
        <label for="processorsCheckbox" class="form-check-label">Processors</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="teamLeadsCheckbox" />
        <label for="teamLeadsCheckbox" class="form-check-label">Team Leads</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="teamManagersCheckbox" />
        <label for="teamManagersCheckbox" class="form-check-label">Team Managers</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="supressTeamCheckbox" />
        <label for="supressTeamCheckbox" class="form-check-label">Supress Team 000</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="underwritersCheckbox" />
        <label for="underwritersCheckbox" class="form-check-label">Underwriters</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="fundersCheckbox" />
        <label for="fundersCheckbox" class="form-check-label">Funders</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="loanSetupCheckbox" />
        <label for="loanSetupCheckbox" class="form-check-label">Loan Setup</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="executiveManagersCheckbox" />
        <label for="executiveManagersCheckbox" class="form-check-label">Executive Managers</label>
    </div>
    <div class="row">
        <label for="filterTextbox" class="col-md-2 col-form-label">Filter:</label>
        <input class="form-text col-md-6" id="filterTextbox" />
        <button class="btn btn-primary" type="button" id="filterUsersButton" onclick="getUsers()">View/Filter GLS Users</button>
    </div>
</div>

<a class="btn btn-primary" role="button" asp-action="Create">New User</a>

<div id="gridUsersPartial"></div>

<script src="~/js/users.js" asp-append-version="false"></script>